
html {
  background-image: url('./Images/books.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* HEADER STYLING */

.header {
  text-align: center;
  color: white;
}

.header h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.header h2 {
  font-size: 35px;
}